%li.chat-message
  .chat-message__header
    %p.chat-message__header__name
      = message.user.name
    %p.chat-message__header__time
      = message.display_time
  %p.chat-message__body
    = message.body
    %br/
    %image{src: message.avatar}
